/*fieldset style */
fieldset{
	border: 2px solid black;
	padding:2%;
	margin-bottom:0.8em;
	width:50%
}
legend{
	font-size:1.4em;
	font-weight:bold;
	font-family: Georgia "Times New Roman" Times serif;
}

/*lable style */
label{
	font-size:1.2em;
	display:block;
	position:relative;
	margin: 1em 0;
}

#radius, #area{
	width:20em;
	position:absolute;
	left:10em;
}
